*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Cormorant Garamond', serif;
background:#0f2d24;
overflow:hidden;
}

/* LOGIN */
#login-page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-card{
background:#f5f0e6;
padding:50px;
border-radius:15px;
text-align:center;
width:90%;
max-width:400px;
}

.login-card h1{
color:#12372a;
font-size:3rem;
}

.subtitle{
margin:15px 0;
}

input{
width:100%;
padding:15px;
margin:15px 0;
border:none;
}

button{
width:100%;
padding:15px;
background:#12372a;
color:white;
border:none;
cursor:pointer;
}

/* BOOK */
#book-container{
display:none;
height:100vh;
justify-content:center;
align-items:center;
flex-direction:column;
}

.book{
width:90%;
max-width:900px;
height:80vh;
position:relative;
}

.page{
position:absolute;
width:100%;
height:100%;
background:#f9f4ea;
padding:40px;
display:none;
overflow:hidden;
border-radius:10px;
}

.page.active{
display:block;
}

/* COVER */
.cover{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.cover h1{
font-size:4rem;
color:#12372a;
}

/* MEMORY */
.memory-page{
overflow-y:auto;
text-align:left;
}

.memory-page h2{
margin-bottom:20px;
color:#12372a;
}

.memory-page p{
font-size:1.3rem;
line-height:2;
white-space:pre-line;
}

/* POLAROIDS */
.polaroid{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.polaroid img{
width:300px;
height:300px;
object-fit:cover;
background:white;
padding:10px;
transform:rotate(-2deg);
}

.polaroid p{
margin-top:10px;
font-family:'Caveat', cursive;
font-size:1.5rem;
}

/* LETTER */
.letter{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.controls{
margin-top:20px;
}

button:hover{
opacity:0.8;
}
